@import url("style3.css");
#wrapper {
    width: 100%;
    min-width: 550px;
    max-width: 1000px;
    margin: 0 auto;
    background-color: #FFF;
   }
   #sidebar {
    width: 33%;
    padding: 10px;
    float: left;
    background-color: #2ef7d9;
   }
   #main {
    /* margin-left: 36%; */
    margin-left: -moz-calc(33% + 20px);
    margin-left: -webkit-calc(33% + 20px);
    margin-left: calc(33% + 20px);
    padding: 10px 20px;
   }

#header{
    background-color: #D3C89B;
}   