<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
     <link rel="stylesheet" href="banner.css">
</head>

<body>
     <nav class="nav-bar">
          <a href="index.html">Home</a> |
          <a href="banner.html">Sports</a> |
          <a href="isdb.html">IsDB</a> |
          <a href="#">Asia</a> |
          <a href="#">Business</a> |
          <a href="#">Science</a> |
          <a href="#">Health</a> |
     </nav>
     <header class="container">
          <div>
               <h1>The Greatest show on the earth</h1>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure quae labore fugit corrupti voluptatem
                    numquam quo earum.</p> 
               <button class="btn"><strong>Watch live</strong></button>
          </div>
          <div class="picture"><img src="images/shakib-removebg-preview.png" alt="picture"></div>
     </header>
          <div class="main">
               <div class="menu">
                    <div class="h1">
                         <h4>Upcoming Match</h4>
                    </div>
                    <div class="h1">
                         <h4>All Group</h4>
                    </div>
                    <div class="h1">
                         <h4>Blog</h4>
                    </div>
               </div>
               <div class="molla">
                    <div class="content">
                         <div class="team">
                              <img src="images/BDFlag1.jpg" alt="">
                                   VS
                              <img src="images/India1.jpg" alt="">
                         </div>
                              <h5>Match start 01:30pm <br>  12 jun 2023</h5>        
                         </div>
                         <div class="content">
                              <div class="team">
                                   <img src="images/BDFlag1.jpg" alt="">
                                        VS
                                   <img src="images/India1.jpg" alt="">
                              </div>
                                   <h5>Match start 01:30pm <br>  12 jun 2023</h5> 
                         </div>
                         <div class="content">
                              <div  class="team">
                                   <img src="images/BDFlag1.jpg" alt="">
                                   VS
                                   <img src="images/India1.jpg" alt="">
                              </div>
                                   <h5>Match start 01:30pm <br>  12 jun 2023</h5> 
                         </div>
                         <div class="content">
                              <div  class="team">
                                   <img src="images/BDFlag1.jpg" alt="">
                                   VS
                                   <img src="images/India1.jpg" alt="">
                              </div>
                                   <h5>Match start 01:30pm <br>  12 jun 2023</h5>     
                         </div>
                         <div class="content">
                              <div  class="team">
                                   <img src="images/BDFlag1.jpg" alt="">
                                   VS
                                   <img src="images/India1.jpg" alt="">
                              </div>
                                   <h5>Match start 01:30pm <br>  12 jun 2023</h5>   
                         </div>
                         <div class="content">
                         <div  class="team">
                              <img src="images/BDFlag1.jpg" alt="">
                              VS
                              <img src="images/India1.jpg" alt="">
                         </div>
                         <h5>Match start 01:30pm <br>  12 jun 2023</h5>        
                    </div>  
               </div>      
          </div>
              

     </div>
     <footer>&copy;Copy by Md. Ikbal Hossan Molla</footer>
</body>

</html>