
.head img{
     width: 40%;
     height: 200px;
     border: 1px solid aqua;
}
.s-box {
     display: flex;
     position: absolute;
     top: 25px;
     right: 30px;
}
button{
     margin-left: 15px;
     background-color: #900000;
     color: white;
}
.nav-bar {
     width: 100%;
     height: 30px;
     background-color: #900000;
     padding: 10px;
     text-align: center;
     text-decoration: none;
     font-size: 24px;
}
.nav-bar a {
     color: white;
     text-decoration: none;
     font-size: 24px;
}
.top-heading{
     background-image:url(images/blue\ banner.jpg);
     height: 350px;
     text-align: center;
     padding-top: 20px;
     font-size: 50px;
     color: seashell;
     margin: 0;
     border-radius: 20px;
     letter-spacing: 1.2rem;
}

.logo{
     position: absolute;
     width: 100px;
     height: 100px;
     left: 180px;
     top: 350px;
}
.search{
     position: absolute;
     right: 50px;
     top: 400px;
     border-radius: 20px;
}
.s1{
     color: coral;
}
.s2{
     color: sandybrown;
}
.s3{
     color: rgb(26, 228, 235);
}
.s4{
     color: lightgreen;
}
.s5{
     color: chocolate;
}
.s6{
     color: rgb(179, 169, 241);
}
.s7{
     color: skyblue;
}
.s8{
     color: aqua;
}
.s9{
     color: indianred;
}
.nav-menu {
     background-color: rgba(25, 187, 241, 0.979);
     font-size: 24px;
     height: 30px;
     text-align: center;
     padding: 10px;
     margin: 5px;
     transition: 0.3s all;
     border-radius: 5px;
}
.nav-menu a{
     transition: 0.3s all;
     border-radius: 5px;
     color: rgb(65, 65, 65);
     background-color: #f6f6f6;
     text-decoration: none;
}
.nav-menu a:hover{
     background-color: salmon;
     color: black;
}
section{
     text-align: justify;
     border: 3px solid rgb(19, 63, 196)
     
}
h3{
     border: 1px solid black;
     background-color: salmon;
     width: 100px;
     text-align: center;
     margin: 20px auto;
    
    
}
.content1,.content2,.content3 {
     border: 2px solid rgb(19, 63, 196);
     float: left;
     width: 31%;
     height: 300px;
     margin-left: 5px;
     padding: 10px;
     margin-bottom: 10px;
    
}
.footer{
   clear: both;
   background-color: #900000;
   padding: 10px;
   text-align: center;
   color: white;
   
}
   