<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
     <link rel="stylesheet" href="isdb.css">
</head>
<body>
     <header class="head">
          <img src="images/bbc.jpg" alt="">
          <div class="s-box">
               <div>
                    <input type="search" placeholder="search hare">
               </div>
               <button>Search</button>
          </div> 
     </header>
     <nav class="nav-bar">
          <a href="index.html">Home</a> |
          <a href="banner.html">Sports</a> |
          <a href="isdb.html">IsDB</a> |
          <a href="#">Asia</a> |
          <a href="#">Business</a> |
          <a href="#">Science</a> |
          <a href="#">Health</a> |
     </nav>
     <header>
          <div  class="top-heading">
          <h2><span class="s1">I</span><span class="s2">s</span><span class="s3">D</span><span class="s4">B</span>-<span class="s5">B</span><span class="s6">I</span><span class="s7">S</span><span class="s8">E</span><span class="s9">W</span></h2>
          <p><input class="search" type="search" placeholder="search here"> </p>
          <img class="logo" src="images/Isdb.jpg" alt="IsDB">
     </div>
             
         
          
          
         <nav class="nav-menu">
          <a href="#">Home</a> |
          <a href="#">About</a> |
          <a href="#">Contract</a>
         </nav>
     </header>
     <section>
          
          <div class="content1"> <h3>Content 1</h3>
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, mollitia? Natus vel ipsa ducimus facilis atque inventore dicta reiciendis culpa dignissimos, hic nobis nemo beatae ea! A pariatur, ullam quia minima sint repudiandae suscipit quos ducimus unde! Provident modi quo sapiente architecto optio tenetur deleniti odio dolore quidem, repellat aut repellendus obcaecati fugiat laudantium expedita quod unde earum maxime recusandae ipsam reprehenderit laboriosam. Asperiores ut distinctio suscipit possimus enim iste eaque facere velit, delectus illo nobis saepe commodi sequi blanditiis, similique provident molestias laborum? Natus dolorum suscipit nulla quia tempora sapiente doloremque fugit culpa ut assumenda, ipsum architecto iure animi!</div>
          
          <div class="content2">
               <h3>Content 2</h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto hic enim ipsam facilis, saepe quas excepturi magni commodi, veritatis voluptatibus aperiam, consectetur id? Repellendus aut non aspernatur excepturi labore architecto qui. Dolore velit ex consequatur a ad repellendus necessitatibus dignissimos, quam quae illum temporibus commodi odit tenetur sunt eos eveniet ea accusantium beatae tempora quasi? Placeat, natus doloremque. Enim explicabo, laborum vero nam dolorem officiis, ullam voluptatibus tempore sunt veritatis atque doloribus pariatur in suscipit excepturi deserunt eveniet quis iure numquam perferendis dolore laboriosam nulla, sit quisquam. Veniam, rerum libero aspernatur praesentium rem a, debitis dolore doloremque aliquid eligendi ad.</div>
          
          <div class="content3"><h3>Content 3</h3>
               Lorem, ipsum dolor sit amet consectetur adipisicing elit. At itaque eos sapiente eum! Sed maxime ad asperiores totam culpa. Molestiae beatae architecto sunt laborum velit? Nesciunt, ea sequi tenetur esse omnis odit modi vero quod officia ipsam unde eaque quia sit officiis corrupti temporibus nostrum aperiam libero iure aliquam voluptatem! Libero recusandae asperiores reprehenderit praesentium quas veritatis dolorum sit ex fugit, itaque aut cumque non molestiae exercitationem, vel explicabo error beatae sed. Aliquam, culpa. Rem veritatis iusto sit eum eligendi quasi debitis sequi, vero, libero nisi accusamus aliquid, deserunt voluptatum! Itaque voluptatem quia unde vel facilis rem adipisci. Accusantium, excepturi.</div>
     </section>
     <footer>
          <div class="footer"> &copy;June 2023</div>
     </footer>
    
</body>
</html>