<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
     <link rel="stylesheet" href="banner.css">
</head>
<body>
     <header  class="container">
          <div>
               <h1>The Greatest show on the earth</h1>
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure quae labore fugit corrupti voluptatem numquam quo earum.
              <button class="btn">Watch live</button>
          </div>
        
          <div class="picture"><img src="image/shakib-removebg-preview.png" alt="picture"></div>
     </header>
     <div class="menu">
       <div class="h1"><h4>Upcoming Match</h4></div>
        <div class="h2"><h4>All Group</h4></div>
        <div class="h3"><h4>Blog</h4></div>
     </div>
     <div class="content">
          <div class="bd">
               <div class="div1"> 
                    <div ><img src="image/BDFlag1.jpg" alt=""></div>
                    <div>VS</div>
                    <div ><img src="image/India1.jpg" alt=""></div>
                    <div class="a"><h4>Match start 01:30pm <br>
                         date: 12 jun 2023 </h4></div> 
               </div>
               <div class="div2">
                    <div ><img src="image/BDFlag1.jpg" alt=""></div>
                    <div>VS</div>
                    <div><img src="image/India1.jpg" alt=""></div>
                    <h4>Match start 01:30pm <br>
                         date: 15 jun 2023 </h4>
               </div>
          </div>
          <div class="in">
               <div class="div3">
                    <div ><img src="image/BDFlag1.jpg" alt=""></div>
                    <div>VS</div>
                    <div ><img src="image/India1.jpg" alt=""></div>
                         <div class="a">
                              <h4>Match start 01:30pm <br>
                               date: 17 jun 2023 </h4>
                         </div>
               </div>
               <div class="div4">
                    <div><img src="image/BDFlag1.jpg" alt=""></div>
                    <div>VS</div>
                    <div ><img src="image/India1.jpg" alt=""></div>
                    <h4>Match start 01:30pm <br>
                         date: 20 jun 2023 </h4>
               </div>
          </div>
         
     </div>
</body>
</html>