.container{
     background-color:black;
     display: flex;
     color:white;
     font-size: 30px;
     margin-bottom: 50px;
}
.btn{
     background-color:rgb(98, 173, 98);
     right: 50px;
     padding: 5px 5px 5px 5px;
     margin-left: 40px;
     margin-bottom: 10px;
     color:white;
    
}
.btn:hover{
     background-color: rgb(74, 74, 179);
     color: aliceblue;
}
.menu{

     background-color: rgb(5, 5, 5);
     width: 160px;
     height: 270px;
     margin-left: 50PX;
     margin-right: 20px;
     padding: 15px 5px 5px 15px;
     text-align: center;
     color: aliceblue;
     border: 2px solid blue;
}
.main{
     display: flex;
     flex-wrap: wrap;
}
.h1{
     background-color:white;
     color: black;
}
.h1:hover{
     background-color: red;
     color: aliceblue;
}
.content{
     padding: 5px 5px;
     border: 1px solid black;
     text-align: center;
     height: 160px;
     margin-left: 10px;
     margin-top: 10px;
}
.team {
     display: flex;
     align-items: center;
     flex-wrap: wrap;
}
