* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logo {
  flex: 30%;
}
.logo img {
  width: 60px;
}
.menu {
  flex: 70%;
  justify-content: end;
  display: flex;
  align-items: center;
}

.menu ul li {
  list-style: none;
  display: inline-block;
  padding: 0px 10px;
}
.menu ul li a {
  color: #fff;
  padding: 10px 20px;
  border: 1px solid #fff;
  text-decoration: none;
  background: #000;
  text-transform: uppercase;
  transition: all ease 0.5s;
}
.menu ul li a:hover {
  background: #04345c;
  border: 1px solid #04345c;
}
.menu ul li a.active {
  background: #04345c;
  border: 1px solid #04345c;
}
.content {
  display: flex;
}
aside {
  flex: 25%;
  background: #f1f1f1;
  height: 70vh;
  align-items: center;
}
ul.side_nav li {
  list-style: none;
  width: 100%;
}
ul.side_nav li a {
  color: #04345c;
  background: #fff;
  border: 1px solid #f1f1f1;
  display: flex;
  padding: 15px 10px;
  text-decoration: none;
}
ul.side_nav li a:hover {
    color: #fff;
    background: #04345c;
    border: 1px solid #f1f1f1;
    display: flex;
    padding: 15px 10px;
    text-decoration: none;
  }
.parent {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .main {
    display: flex;
    flex-grow: 1;
  }
  
  .content {
    flex-grow: 1;
  }
.main .sidebar{
    flex-basis: 30%;
    display: flex;
    align-items: center;
}
.main .content{
    flex-basis: 70%;
    display: block;
}
.content h1{
    padding: 20px 0px;
}
  /* --------- Non-flexbox related styles --------- */
  .child {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 20px;
    line-height: 20px;
    color: #000;
    background-color: #fff;
    border-radius: 0px;
    border: 10px solid #f1f1f1;
  }
  .sidebar{
    flex-basis: 25%;
  }
  