* {
    margin: 0;
    padding: 0;
}

.container {
    height: 109vh;
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%),url(1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    
}
  img {
    height: 50px;
    width: 50px;
    margin: 25px 0 25px 175px;
}

ul {
float: left;
display: flex;
justify-content: center;
align-items: center;
}

ul li {


}

ul li a {
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bolder;
}

ul li a:hover {
    color: #ff7200;
}