*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
.container{
     width: 90vw;
     margin: 0 auto;
}
header{
     height: 20vh;
     border-bottom: 1px solid #c2c2c2;
     display: flex;
     align-items: center;
     justify-content: space-between;
}

.search_bar input{
     padding: .5rem;
     outline: none;
     border: none;
     border: .5px solid #c2c2c2;
     margin: 5px auto 40px auto;
}
.search_bar button{
     padding: .45rem;
     cursor: pointer;
}

.user .log_btn{
     padding: 7px 30px;
     margin: 5px auto 40px auto;
     background-color: #fff;
     border: 1px solid #c2c2c2;
     border-radius: .2rem;
}

nav{
     height: 5vh;
     border-bottom: 1px solid #c2c2c2;
     box-shadow: 0px 0px 2px #949494;
}
nav ul{
     display: flex;
     align-items: center;
     justify-content: center;
     height: 100%;
}
nav ul li{
     list-style: none;
     font-size: 14px;
     margin: 0 1rem;
     font-weight: 700;
}
.container .row{
     display: flex;
     margin-top: 20px;
}
.container .row>div{
     padding: 20px;
     margin: 5px;
     width: 25%;
     /* height: 150px; */
}
.container .row> div img{
     height: 200px;
     width: 300px;
}
a{
     text-decoration: none;
     color: black;
}
a:hover{
     color:blue;
}