body {
    margin: auto;
    box-sizing: border-box;
    background-color: aqua;
    height: 300px;
    width: 800px;

}
 .content {
    width: 20%;
    float: left;
    padding: 30px;
    border: 1px solid black;
   
    margin-left: 30px;
    height: 200px;
    text-align: right;
    
 }
 .footer {
    text-align: center;
    color: black;
    float: left;
    padding-right: 30%;
    height: 10px;
    text-decoration: solid gray;
 

 }
 .navbutton{ color: brown;
padding: 30px;
 text-align: center;
 background-color: green;
}
.header{
    text-align: center;
    color: green;
    text-transform: uppercase;
    text-shadow: 2px solid black;
}
.nav{
    text-align: center;
    text-decoration: dotted;
    text-decoration-color: black;
    text-size-adjust: 20%;
    background-color: rgba(100, 15, 17, 0.2);
}
.middle {
    background-image: inherit;
    
}