* {
    box-sizing: border-box;
}

.header {
    background-color: aquamarine;
    text-align: center;
    height: 120px;
    padding: 20px;
}
.header h2{
    color:rgb(4, 95, 175);
    font-size: 40px;
}
.nav-menu {
    background-color: blue;
    height: 20px;
    padding: 20px;   
}
.nav-menu a {
    padding: 10px;
    color:rgb(244, 15, 27);
    text-decoration: none; 
    background-color: greenyellow;
}
.nav-menu a:hover {
    background-color: #fff;
    color:rgb(9, 9, 9);
}
.row{
    width: 100%;
}
.columnA,.columnB, .columnC {
    width: 618px;
    padding: 19px;
    float: left;
    border: 2px solid black;
    height: 300px;
    margin-right: 13px;
    margin-bottom:5px;
}  
.columnC{
    margin-right: 0 !important; 
}
footer {
    clear: both;
    padding: 5px;
    text-align: center;
    font-size: 18px;
    border: 1px solid rgb(156, 150, 150);
    margin-top: 15px;
}

.search {
    position: absolute;
    right:50px;
    top:50px;
}

.search input {
    padding: 5px;
    border-radius: 5px;
}


