 * {
    box-sizing: border-box;
 }



.header {
    background-color: aquamarine;
    text-align: center;
    height: 130px;
    padding: 20px;
    background-image: url(69b6a9160020091.Y3JvcCwyNzg5LDIxODIsMCw0MzU.png);
    background-repeat: no-repeat;

}
.header h2{
    color: rgb(45, 45, 180);
}
.nav-menu{
    background-color: blue;
    height: 20px;
    padding: 20px;
    text-align: center;
    
}
 .nav-menu a {
   
    padding: 10px;
    color: aliceblue;
    text-decoration: none;
    background-color: green;
    
 }
 .nav-menu a:hover {
    background-color: white;
    color: black;
 }
 .row{
    width: 100%;

 }
 .columnA,.columnB,.columnC {
    width: 31%;
    padding: 14px;
    float: left;
    border: 1px solid black;
    height: 200px;
    overflow: hidden;
    margin-right: 5px;
    background-color: rgb(91, 96, 91);
    margin-bottom: 5px;
 }
  .columnC{
    margin-right: 0  !important;
  }
  footer {
    clear: both;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    border: 1px solid rgb(85, 191, 85);
    margin-top: 15px;
    background-color: rgb(186, 205, 158);
  }

  .search{
    position: absolute;
    left: 50px;
    top: 50px;
  }
   