<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
 <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="banner">
        
        
        <img src="image/download__1_-removebg-preview.png" alt="IDB-Bisew" style="width:110px">
    </div>
    <div class="div-main">
        <div class="main">
            <div class="container">
                <nav class="middle-menu">
                    <span> <a href="index.html">Home</span></a> <hr>
                    <span> <a href="about_us.html"> ABOUT US</span></a><hr>
                    <span> <a href=""> COURSES</span></a><hr>
                    <span> <a href="Registration_form.html"> RESGISTRAION</span></a><hr>
                    <span> <a href=""> REQUIRMENT</span></a><hr>
                    <span> <a href="contact.html">CONTACT US</span></a> <hr>
                    </nav>
                    <div class="down-menu">
                        <h5>SEARCH</h5>
                        <input type="text">
                        <button>search</button>
                    </div>
            </div>
                <div class="beside">
                    <h3>ABOUT US</h3>
                    Islamic Development Bank-Bangladesh Islamicn Solidaryt Educational Wakf (IDB-BISEW) was established following and agreement between the Islamic Development Bank, Jeddah , saudi Arabia, and the Government of Bangladesh , IDB-BISEW undertaks funding formulation and mplementing of projects in the areas of education, human  resource development and instrutuonal strengthening. 
                    The intent is to transform the large population nito productive workforece by strengthening their technical capability to use exsting and emerging technologies resulting in sustainalble econonmic growth and equality.
        
        
                </div>
        </div>
    </div>
        <footer>
            Copyright By idb-bisew students of Wdpf round-55
        </footer>

</body>
</html>