<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
   

        

    </style>
    
</head>
<body>
    <div class="banner">
        
        
        <img src="image/download__1_-removebg-preview.png" alt="IDB-Bisew" style="width:110px">
    </div>
    <div class="div-main">
        <div class="main">
            <div class="container">
                <nav class="middle-menu">
                    <span> <a href="index.html">Home</span></a> <hr>
                    <span> <a href="about_us.html"> ABOUT US</span></a><hr>
                    <span> <a href=""> COURSES</span></a><hr>
                    <span> <a href="Registration_form.html"> RESGISTRAION</span></a><hr>
                    <span> <a href=""> REQUIRMENT</span></a><hr>
                    <span> <a href="">CONTACT US</span></a> <hr>
                    </nav>
                    <div class="down-menu">
                        <h5>SEARCH</h5>
                        <input type="text">
                        <button>search</button>
                    </div>
            </div>
                <div class="beside">
                    <h3>Home</h3>
                    The documents required to apply for a home loan are more or less the same across all banks and Housing Finance Companies (HFCs). However, home loan documents required may vary across lenders on the basis of your home loan type, property type, individual credit profile, etc. Here’s the list of key home loan documents that you will need to submit at the time of loan application.
        
        
                </div>
        </div>
    </div>
        <footer>
            Copyright By idb-bisew students of Wdpf round-55
        </footer>
</body>
</html>