.main{
    display: flex;
}
.div1{
    height: 400px;
    background-color: violet;
}
h1,h2{
    text-align: center;
    background-color:antiquewhite;
}
.sub-main{
    border: 3px solid black;
    margin: 20px;
    padding: 20px;
    text-align: justify;
    margin-top: 50px;
    background-color:brown;
    border-radius: 25px;
    transition-duration: .3s;
    
}
.sub-main:hover{
    background-color: yellowgreen;
    /* transform: scale(1.5); */
    /* transform: rotate(-45deg); */
    transform: skew(5deg);
}
.link, a{
    text-align: center;
    text-decoration: none;
    color: rgb(8, 248, 248);
    background-color: black;
    font-size: 25px;
}