*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    background-color: rgb(94, 219, 94);
    height: 800px;
}
 .header{
    width: 100%;
    background-color: rgb(86, 86, 187);
    height: 195px;
    text-align: center;
    
 }
 .menu{
   clear: both;
    width: 23%;
    height: 200px;
    background-color: rgb(227, 203, 203);
    margin: auto;
    padding: 15px;
 
 
 }
.menu ,ul, li, a{
    clear: both;
   
    text-decoration: none;
    padding: 12px;
    color: rgb(232, 220, 220);
    background-color: rgb(115, 98, 101);
    width: 35%;
    margin-top: 5px;
    
  }
  a:hover{
    color: rgb(35, 150, 216);
    background-color: darkcyan;
 }
 .left ,ul, li, a{
   clear: both;
    margin-top: 20px;
    padding: 5px;
    width: 50%;
    text-align: center;
    
    

 }
 .left{
   clear: both;
    width: 45%;
    height: 400px;
    float: left;
 }
 .right{
    margin-top: 200px;
    
 }
 .footer{
    margin-top: 120px;

 }