header{
    background-color: rgb(93, 93, 223);
    height: 120px;
    padding: 10px 10px 10px 30px;
    color: aliceblue;
}
.nav-menu{
    float: left;
    background-color: rgb(134, 134, 246);
    height: 20px;
    padding: 5px 5px 5px 20px; 
    width: 98%;
}
.nav-menu a:hover {
    background-color:white;
    color: black;
}
.menubar{
    float: laft;
    border: 1px solid black;
    width: 150px;
    height: 250px;
    padding: 5px 0px 5px 5px;
}
.menu{
    float: left;
    width: 500px;
    height: 300px;
}